<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4 fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/tasks">Task Tracker</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/tasks">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About us</a>
        </li>
      </ul>
      <app-add-button
        *ngIf="hasRoute('/tasks')"
        color="{{ showAddTasks ? 'red' : 'black' }}"
        text="{{ showAddTasks ? 'Close' : 'Add New Task' }}"
        (btnClick)="toggleAddTask()"
      >
      </app-add-button>
    </div>
  </div>
</nav>
